$color-primary: #23262A;
$color-secondary: #FF7373;
$color-background: #70707066;

$color-shadow: rgba(0, 0, 0, 0.06);
$color-muted: #616365;
$color-white: #FFFFFF;
$color-gray-10: #F8F8F8;
$color-gray-20: #F5F5F5;
$color-gray-25: #F4F4F4;
$color-gray-30: #E6E6E6;
$color-gray-40: #BEBEBE;
$color-gray-50: #616365;
$font-color: #222529;

$font-size-11: 0.688rem;
$font-size-13: 0.813rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-35: 2.188rem;
$font-size-45: 2.813rem;
$font-size-65: 4.063rem;

$font-poppins: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
$breakpoint-xxxl: 1920px;
$breakpoint-xxxl-max-width: 1820px;